.brand{width:280px;max-width:100%;flex-shrink:0}.crop{position:relative;width:100%;aspect-ratio:3.4;overflow:hidden}.image{position:absolute;width:112.94%;max-width:none;height:auto;left:-6.62%;top:-76.5%;mix-blend-mode:normal}.compact{width:250px}.light .image{filter:brightness(0) invert(1)}
@media(max-width:639px){.compact{width:168px}.brand:not(.compact){width:260px}.light.compact{width:192px}}
@media(max-width:389px){.compact{width:145px}.light.compact{width:170px}}
